<%- include("template/cabecera", {tituloWeb: 'Crear mascota'}) %>

    <div class="contariner">
        <h1>Crear</h1>
        <form action="">
            <input 
                type="text"
                placeholder="Agregar Nombre"
                class="form-control my-2"
            >
            <input 
            type="text"
                placeholder="Descripcion"
                class="form-control my-2"
            >
            <button
                class="btn btn-success btn-block"
                type="submit"
            >
            Agregar
            </button>
        </form>

    </div>
    
<%- include("template/footer") %>