<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMEGA PROJECTS</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <!-- BARRA-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">OMEGA PROJECTS</a>
        </div>
    </nav>

    <!-- CONTENEDOR DE LOS COMPONENTES INICIO DE SESION-->
    <div class="container">
        </style>
        <div class="row">

            <!-- TXT INICIO-->
            <figure class="text-center" style="margin-top: 100px; ">
                <blockquote class="blockquote" style="font-size: 30px;">
                    <p>Establecer nueva contraseña</p>
                </blockquote>
            </figure>

            <!-- TXT NOMBRE USUARIO-->
            <p class="lead" style="margin-top: 20px; text-align: center; font-size: 17px;">
                Ingrese una nueva contraseña
            </p>

            <form action="/restablecer" method="POST">
                <!-- FORM CONTRASEÑA-->
                <div class="mb-3 d-grid gap-2 col-7 mx-auto">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="txt_Contrasenia" name="txt_Contrasenia">
                </div>
                <div class="mb-3 d-grid gap-2 col-7 mx-auto">
                    <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <!-- BOTON-->
                <div class="d-grid gap-4 col-5 mx-auto" style="margin-top: 23px;">
                    <button style="font-size:130%" class="btn btn-outline-dark">
                        Siguiente
                    </button>
                </div>
            </form>
        </div>
    </div>
    <%- include("template/footer") %>