body {
    
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    font-size: 15px;
}
.section {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
}

.section-hr {
	margin-top:80px;
	margin-bottom:80px;
	border-color: #EBEBEB;
}

.section-header {
	margin-bottom:40px;
}
.login-nav{
    margin-top: 15px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 15px;
    color: #fff9f9;
}

.login-title2 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #fff9f9;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #242323;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}
.login-box {
    margin-top: 75px;
    height: auto;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
input[type=text] {
    background-color: #fffffff6;
    text-decoration: Email;
    border: none;
    border-bottom: 2px solid #0d1937;
    border-top: 0px;
    border-radius: 0px;

    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #000000;
}

input[type=password] {
    background-color: #fffffff6;
    border: none;
    border-bottom: 2px solid #0d1937;
    border-top: 0px;
    border-radius: 0px;
   
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #000000;
}
/*------------------------------------*\
	Logo
\*------------------------------------*/
.navbar-brand {
    padding: 0;
}
.navbar-brand .logo {
	margin-top: 10px;
	display: inline-block;
    
}

.navbar-brand .logo > img {
	max-height:72px;
}
@media only screen and (max-width: 767px) {
	.navbar-brand {
		margin-left:63px;
	}
} 

/*------------------------------------*\
	Navigation
\*------------------------------------*/
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	background-color:#c0c0c0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#header.transparent-nav {
	
	background-color:#17112e;
}

#header.transparent-nav .main-menu li a {
    color: #ffffff;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    background-color: #fffffff6;
    color: #000000;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 15px;
    color: #000000;

    letter-spacing: 1px;
}
.form-control-label2 {
    font-size: 15px;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}


.btn-outline-primary {
    background-color: #17112e;
    color:   #fffbfb;
    border-radius: 0px;
    letter-spacing: 1px;
}

.btn-outline-primary:hover {
    background-color:#050505;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    border-bottom: center;
    text-align:center;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}